body {
  background-color: #EAEBE7;
}

.card-container{
  height: 420px;
  position: relative;
  background-color: white;
  overflow: hidden;
  z-index: 20;
  box-shadow: 2px 2px 2px #B3B3B3;
  margin: 20px;
}

.pricebox {
  height: 50px;
  width: 100px;
  position: absolute;
  background-color: #FF5351;
  display: table;
}
.price {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: Oswald;
  font-size: 20px;
  text-align: center;
}

.deletebox {
  height: 50px;
  width: 44px;
  position: absolute;
  background-color: #999966;
  display: table;
  right: 0;
}

.buybox {
  height: 50px;
  width: 100%;
  position: absolute;
  background-color: #008cba;
  display: table;
  bottom: 0;
}

.add-to-cart {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: Oswald;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.card {
  display: table;
  height: 100%;
  width: 100%;
}

.product-overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.card-inner {
  display: table-cell;
  vertical-align: middle;
}


.proimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
  max-width: 90%; 
}

.page-header h1 {
  text-align: center;
  font-family: Oswald;
  margin-top: 70px;
}

.shopping-cart {
  position: fixed;
  top: 55px;
  right: 40px;
  display: none;
  background-color: #fff;
  box-shadow: 2px 2px 2px #B3B3B3;
  padding: 15px;
  z-index: 999;
}

.create-item{
  position: fixed;
  top: 55px;
  right: 40px;
  display: none;
  background-color: #fff;
  box-shadow: 2px 2px 2px #B3B3B3;
  padding: 15px;
  z-index: 998;
}

.cart-title {
  text-align: center;
  font-weight: bold;
}

.clear-cart {
  width: 100%;
}

.create-title{
  text-align: center;
  font-weight: bold;
}

/*class to show product creation form and shopping cart*/
.show {
  display: block;
}

/*classes to deal with showing error messages for creating a new product*/
.error {
  display: none;
  background-color: red;
  color: white;
}

.showa {
  display: block;
}

/*classes to deal with showing the amount of the same item on shopping cart*/
.amount {
  display: none;
}

.amountShow {
  display: inline;
}
